@media only screen and (max-width: 600px) {
    .laptopView{
        display: none;
    }
    .mobileView{
        display: block;
    }
  }

  @media only screen and (min-width: 768px) {
      .laptopView{
          display: block;
      }
      .mobileView{
        display: none;
    }
  
  }